tests/fn/unparsed-entity-uri/unparsed-entity-uri-050.dtd

	<!NOTATION JPG PUBLIC "JPEG Image">
  <!ENTITY dgr-08sdexample06 SYSTEM "images\repository\dgr-en-08sdexample06-a.jpg" NDATA JPG>
  <!ENTITY dgr-08sdexample06 SYSTEM "images\repository\dgr-es-08sdexample06-a.jpg" NDATA JPG>

  <!ELEMENT Section1 (Heading?, Para+)>
  <!ATTLIST Section1 xml:lang (en|es) #REQUIRED>
  <!ELEMENT Heading (#PCDATA)>
  <!ELEMENT Para (#PCDATA | MediaObject)*>
  <!ELEMENT MediaObject EMPTY>
  <!ATTLIST MediaObject src ENTITY #REQUIRED>
