tests/decl/import-schema/schema042.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schema042.uri/"
           elementFormDefault="qualified"
           xmlns:s="http://schema042.uri/">

<xs:simpleType name="listInt">
  <xs:list itemType="xs:positiveInteger"/>
</xs:simpleType>

<xs:simpleType name="list10int">
  <xs:restriction base="s:listInt">
    <xs:length value="10"/>  
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="list5-8int">
  <xs:restriction base="s:listInt">
    <xs:minLength value="5"/> 
    <xs:maxLength value="8"/>  
  </xs:restriction>
</xs:simpleType>

</xs:schema>