tests/decl/import-schema/schema054.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schema054.uri/"
           elementFormDefault="qualified">

<xs:complexType name="repeated-choice">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="p"/>
      <xs:element name="q"/>
      <xs:element name="r"/>
      <xs:any namespace="http://banana.uri/ http://carrot.uri/" processContents="lax"/> 
    </xs:choice>
</xs:complexType>


</xs:schema>