tests/fn/id/id164.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT departament EMPTY>
<!ATTLIST departament
  nam CDATA  #REQUIRED
  people IDREFS #REQUIRED
>
<!ELEMENT departaments (departament+)>
<!ELEMENT document (people, departaments)>
<!ELEMENT people (person+)>
<!ELEMENT person EMPTY>
<!ATTLIST person
  id ID #REQUIRED
  name CDATA #REQUIRED
>