tests/misc/bug/xteixlite.dtd

<!--* This is the TEI Lite DTD.  It can be referred to using the
    * formal public identifier 
    * 
    *       -//TEI//DTD TEI Lite XML ver. 1//EN
    *
    * or the slightly more specific 
    *
    *       -//TEI//DTD TEI Lite XML ver. 1.1//EN
    *
    *      This is version 1.0, generated 6 July 1999 
    *      from version 1.6 of the SGML TEI Lite
    *      and tweaked manually by CMSMcQ (tei@uic.edu).
    *      Tweaks concerned comments and the entity sets.
    *-->



<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >

<!ELEMENT gi (#PCDATA)>

<!ATTLIST gi 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEI (yes | no) "yes" 
     TEIform CDATA "gi" >

<!ELEMENT eg (#PCDATA)>

<!ATTLIST eg 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED 
     TEIform CDATA "eg" >

<!ELEMENT code  (#PCDATA)>

<!ATTLIST code 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >

<!ELEMENT ident  (#PCDATA)>

<!ATTLIST ident 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >

<!ELEMENT kw (#PCDATA)>

<!ATTLIST kw 
     ana IDREFS #IMPLIED 
     corresp IDREFS #IMPLIED 
     next IDREF #IMPLIED 
     prev IDREF #IMPLIED 
     id ID #IMPLIED 
     n CDATA #IMPLIED 
     lang IDREF #IMPLIED 
     rend CDATA #IMPLIED >

<!NOTATION cgm PUBLIC "ISO 8632:1987//NOTATION Computer Graphics Metafile//EN" >
<!NOTATION cgmchar PUBLIC "ISO 8632-2:1987//NOTATION CGM Character Encoding//EN" >
<!NOTATION jpeg PUBLIC "ISO DIS 10918//NOTATION JPEG Graphics Format//EN" >
<!NOTATION tiff PUBLIC "-//Aldus Corporation//NOTATION Tagged Image File Format//EN" >
<!NOTATION gif PUBLIC "-//Compuserve Information Service//NOTATION Graphics Interchange Format//EN" >
<!NOTATION sgml PUBLIC "ISO 8879:1986//NOTATION Standard Generalized Markup Language//EN" >
<!NOTATION wsd PUBLIC "-//TEI P3-1994//NOTATION Writing System Declaration//EN" >

<!ELEMENT cit 
	(q | bibl | biblFull | ptr | ref | xptr | xref | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)+ >


<!ATTLIST cit 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "cit" >


<!ELEMENT respStmt 
	(resp | name | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)+ >


<!ATTLIST respStmt 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT publicationStmt 
	((p, (index | interp | interpGrp | lb | milestone | pb | 
	gap | anchor)*)+ | ((publisher | distributor | authority 
	| pubPlace | address | idno | availability | date), (index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)*)+) >


<!ATTLIST publicationStmt 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT dateline 
	(#PCDATA | date | time | name | address | index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST dateline 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "dateline" >


<!ELEMENT docImprint 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | pubPlace 
	| docDate | publisher | index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)* >


<!ATTLIST docImprint 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docImprint" >


<!ELEMENT catDesc 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula)* >


<!ATTLIST catDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "catDesc" >


<!ELEMENT byline 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | docAuthor 
	| index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)* >


<!ATTLIST byline 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "byline" >


<!ELEMENT opener 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | argument 
	| byline | epigraph | signed | dateline | salute | index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST opener 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "opener" >


<!ELEMENT closer 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | signed | 
	dateline | salute | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST closer 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "closer" >


<!ELEMENT s 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST s 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	TEIform CDATA "s" >


<!ELEMENT speaker 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST speaker 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "speaker" >


<!ELEMENT stage 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)* >


<!ATTLIST stage 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "mix"
	TEIform CDATA "stage" >


<!ELEMENT idno 
	(#PCDATA | index | interp | interpGrp | lb | milestone | 
	pb | gap | anchor)* >


<!ATTLIST idno 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "idno" >


<!ELEMENT set 
	(head?, ((bibl | biblFull | l | lg | p | sp | cit | q | 
	label | list | listBibl | note | stage), (index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST set 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "set" >


<!ELEMENT address 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (addrLine, (index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*)+) >


<!ATTLIST address 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "address" >


<!ELEMENT bibl 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | author | 
	biblScope | edition | editor | extent | idno | imprint | 
	note | publisher | pubPlace | respStmt | index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST bibl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "bibl" >


<!ELEMENT biblFull 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, titleStmt, (index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*, (editionStmt, (index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)*)?, 
	(extent, (index | interp | interpGrp | lb | milestone | 
	pb | gap | anchor)*)?, publicationStmt, (index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*, (seriesStmt, 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)?, (notesStmt, (index | interp | interpGrp | 
	lb | milestone | pb | gap | anchor)*)?, (sourceDesc, (index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST biblFull 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblFull" >


<!ELEMENT imprint 
	(pubPlace | publisher | date | biblScope | index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST imprint 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "imprint" >


<!ELEMENT lg 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (l | lg), (l | lg 
	| index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, ((byline | closer | epigraph | salute | signed 
	| trailer), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*) >


<!ATTLIST lg 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	TEIform CDATA "lg" >


<!ELEMENT list 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (head, (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)?, ((item, (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)* | (label, (index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)*, 
	item, (index | interp | interpGrp | lb | milestone | pb 
	| gap | anchor)*)+)) >


<!ATTLIST list 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "simple"
	TEIform CDATA "list" >


<!ELEMENT listBibl 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (head, (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)?, (bibl | biblFull), (bibl | biblFull 
	| index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (trailer, (index | interp | interpGrp | lb | 
	milestone | pb | gap | anchor)*)?) >


<!ATTLIST listBibl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "listBibl" >


<!ELEMENT sp 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (speaker, (index | interp | interpGrp | lb | 
	milestone | pb | gap | anchor)*)?, ((p | l | lg | seg | 
	stage), (index | interp | interpGrp | lb | milestone | pb 
	| gap | anchor)*)+) >


<!ATTLIST sp 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREFS #IMPLIED
	TEIform CDATA "sp" >


<!ELEMENT argument 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (head, ((bibl | biblFull | l | lg | p | sp | 
	cit | q | label | list | listBibl | note | stage), (index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)*)*)?) >


<!ATTLIST argument 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "argument" >


<!ELEMENT back 
	((divGen | set | titlePage | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((argument | byline 
	| docAuthor | docDate | epigraph | head | opener | salute 
	| signed), (argument | byline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | titlePage | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*) 
	| (div, (div | divGen | set | titlePage | index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*) | (div1, 
	(div1 | divGen | set | titlePage | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*))?) >


<!ATTLIST back 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "back" >


<!ELEMENT body 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, ((((bibl | biblFull 
	| l | lg | p | sp | cit | q | label | list | listBibl | 
	note | stage), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)+, (divGen, (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*, ((div, (div | 
	divGen | index | interp | interpGrp | lb | milestone | pb 
	| gap | anchor)*) | (div0, (div0 | divGen | index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*) | (div1, 
	(div1 | divGen | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*))?) | ((divGen, (index | interp | 
	interpGrp | lb | milestone | pb | gap | anchor)*)*, ((div, 
	(div | divGen | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*) | (div0, (div0 | divGen | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*) 
	| (div1, (div1 | divGen | index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*)))), ((byline | closer 
	| epigraph | salute | signed | trailer), (index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST body 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT div 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div" >


<!ELEMENT div0 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div1 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div1 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div0 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div0" >


<!ELEMENT div1 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div2 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div2 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div1 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div1" >


<!ELEMENT div2 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div3 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div3 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div2 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div2" >


<!ELEMENT div3 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div4 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div4 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div3 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div3" >


<!ELEMENT div4 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div5 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div5 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div4 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div4" >


<!ELEMENT div5 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div6 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div6 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div5 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div5" >


<!ELEMENT div6 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((div7 | divGen), 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+ | (((bibl | biblFull | l | lg | p | sp | cit 
	| q | label | list | listBibl | note | stage), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+, 
	((div7 | divGen), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)*)), ((byline | closer | epigraph 
	| salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div6 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div6" >


<!ELEMENT div7 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, ((bibl | biblFull 
	| l | lg | p | sp | cit | q | label | list | listBibl | 
	note | stage), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)+, ((byline | closer | epigraph | 
	salute | signed | trailer), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*) >


<!ATTLIST div7 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "div7" >


<!ELEMENT group 
	((argument | byline | docAuthor | docDate | epigraph | head 
	| opener | salute | signed | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (text | group), 
	(text | group | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*, ((byline | closer | epigraph | salute 
	| signed | trailer), (index | interp | interpGrp | lb | 
	milestone | pb | gap | anchor)*)*) >


<!ATTLIST group 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "group" >


<!ELEMENT text 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (front, (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)?, (body | group), (index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*, (back, 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)?) >


<!ATTLIST text 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT front 
	((divGen | set | titlePage | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*, (((argument | byline 
	| docAuthor | docDate | docEdition | docImprint | docTitle 
	| epigraph | head | titlePart), (argument | byline | docAuthor 
	| docDate | docEdition | docImprint | docTitle | epigraph 
	| head | titlePart | titlePage | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*) | (div, (div | divGen 
	| set | titlePage | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*) | (div1, (div1 | divGen | set | titlePage 
	| index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*))?) >


<!ATTLIST front 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "front" >


<!ELEMENT titlePage 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (byline | docAuthor | docDate | docEdition | 
	docImprint | docTitle | epigraph | titlePart), (byline | 
	docAuthor | docDate | docEdition | docImprint | docTitle 
	| epigraph | titlePart | index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*) >


<!ATTLIST titlePage 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "titlePage" >


<!ELEMENT docTitle 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (titlePart, (index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*)+) >


<!ATTLIST docTitle 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docTitle" >


<!ELEMENT availability 
	(p | index | interp | interpGrp | lb | milestone | pb | 
	gap | anchor)* >


<!ATTLIST availability 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	status (free | unknown | restricted) #IMPLIED
	TEIform CDATA "availability" >


<!ELEMENT editionStmt 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, ((edition, (respStmt | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*) | (p, (index | interp 
	| interpGrp | lb | milestone | pb | gap | anchor)*)+)) >


<!ATTLIST editionStmt 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "editionStmt" >


<!ELEMENT notesStmt 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (note, (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)+) >


<!ATTLIST notesStmt 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "notesStmt" >


<!ELEMENT seriesStmt 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, ((title, (idno | respStmt | index | interp | 
	interpGrp | lb | milestone | pb | gap | anchor)*) | (p, 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*)+)) >


<!ATTLIST seriesStmt 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "seriesStmt" >


<!ELEMENT sourceDesc 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, ((p | bibl | biblFull | listBibl), (index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)*)+) >


<!ATTLIST sourceDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "sourceDesc" >


<!ELEMENT titleStmt 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (title, (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)+, ((author | editor | sponsor | funder 
	| principal | respStmt), (index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*)*) >


<!ATTLIST titleStmt 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT interpGrp 
	(index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)* >


<!ATTLIST interpGrp 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	resp CDATA #IMPLIED
	type CDATA #IMPLIED
	inst IDREFS #IMPLIED
	TEIform CDATA "interpGrp" >


<!ELEMENT table 
	((head | index | interp | interpGrp | lb | milestone | pb 
	| gap | anchor)*, (row, (index | interp | interpGrp | lb 
	| milestone | pb | gap | anchor)*)+) >


<!ATTLIST table 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rows NMTOKEN #IMPLIED
	cols NMTOKEN #IMPLIED
	TEIform CDATA "table" >


<!ELEMENT row 
	((cell | table), (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)+ >


<!ATTLIST row 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	TEIform CDATA "row" >


<!ELEMENT figure 
	((index | interp | interpGrp | lb | milestone | pb | gap 
	| anchor)*, (head, (index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)*)?, (p, (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)*, (figDesc, (index 
	| interp | interpGrp | lb | milestone | pb | gap | anchor)*)?, 
	(text, (index | interp | interpGrp | lb | milestone | pb 
	| gap | anchor)*)?) >


<!ATTLIST figure 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	TEIform CDATA "figure" >


<!ELEMENT formula 
	(#PCDATA) >


<!ATTLIST formula 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	notation CDATA #REQUIRED
	TEIform CDATA "formula" >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, editionStmt?, extent?, publicationStmt, seriesStmt?, 
	notesStmt?, sourceDesc+) >


<!ATTLIST fileDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT sponsor 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST sponsor 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sponsor" >


<!ELEMENT funder 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST funder 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "funder" >


<!ELEMENT principal 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST principal 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "principal" >


<!ELEMENT edition 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST edition 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT extent 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST extent 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent" >


<!ELEMENT distributor 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST distributor 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "distributor" >


<!ELEMENT authority 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST authority 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "authority" >


<!ELEMENT encodingDesc 
	(projectDesc*, samplingDecl*, editorialDecl*, tagsDecl?, 
	refsDecl*, classDecl*, p*) >


<!ATTLIST encodingDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT projectDesc 
	(p)+ >


<!ATTLIST projectDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "projectDesc" >


<!ELEMENT samplingDecl 
	(p)+ >


<!ATTLIST samplingDecl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "samplingDecl" >


<!ELEMENT editorialDecl 
	(p)+ >


<!ATTLIST editorialDecl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "editorialDecl" >


<!ELEMENT tagsDecl 
	(rendition*, tagUsage*) >


<!ATTLIST tagsDecl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "tagsDecl" >


<!ELEMENT tagUsage 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST tagUsage 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	gi NMTOKEN #REQUIRED
	occurs NMTOKEN #IMPLIED
	ident NMTOKEN #IMPLIED
	render IDREF #IMPLIED
	TEIform CDATA "tagUsage" >


<!ELEMENT rendition 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST rendition 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "rendition" >


<!ELEMENT refsDecl 
	(p)+ >


<!ATTLIST refsDecl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	doctype NMTOKEN "TEI.2"
	TEIform CDATA "refsDecl" >


<!ELEMENT classDecl 
	(taxonomy)+ >


<!ATTLIST classDecl 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "classDecl" >


<!ELEMENT taxonomy 
	(category+ | ((bibl | biblFull), category*)) >


<!ATTLIST taxonomy 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "taxonomy" >


<!ELEMENT category 
	(catDesc, category*) >


<!ATTLIST category 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "category" >


<!ELEMENT profileDesc 
	(creation?, langUsage*, textClass*) >


<!ATTLIST profileDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT creation 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST creation 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor | ident )* >


<!ATTLIST language 
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	id ID #IMPLIED
	wsd ENTITY #IMPLIED
	usage NMTOKEN #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT textClass 
	(classCode | catRef | keywords)* >


<!ATTLIST textClass 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >


<!ELEMENT keywords 
	(term+ | list) >


<!ATTLIST keywords 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >


<!ELEMENT classCode 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST classCode 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >


<!ELEMENT catRef 
	EMPTY >


<!ATTLIST catRef 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >


<!ELEMENT revisionDesc 
	(list | change+) >


<!ATTLIST revisionDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor | ident | eg | gi | code | kw )* >


<!ATTLIST p 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT foreign 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST foreign 
	id ID #IMPLIED
	n CDATA #IMPLIED
	rend CDATA #IMPLIED
	lang IDREF #IMPLIED
	TEIform CDATA "foreign" >


<!ELEMENT emph 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST emph 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "emph" >


<!ELEMENT hi 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST hi 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT q 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)* >


<!ATTLIST q 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	direct (y | n | unspecified) "unspecified"
	who CDATA #IMPLIED
	TEIform CDATA "q" >


<!ELEMENT soCalled 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST soCalled 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "soCalled" >


<!ELEMENT term 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | kw | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST term 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "term" >


<!ELEMENT mentioned 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST mentioned 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "mentioned" >


<!ELEMENT gloss 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST gloss 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREF #IMPLIED
	TEIform CDATA "gloss" >


<!ELEMENT name 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST name 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT rs 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST rs 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "rs" >


<!ELEMENT num 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST num 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "num" >


<!ELEMENT date 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST date 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED
	certainty CDATA #IMPLIED
	TEIform CDATA "date" >


<!ELEMENT time 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST time 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	type (am | pm | 24hour | descriptive) #IMPLIED
	zone CDATA #IMPLIED
	TEIform CDATA "time" >


<!ELEMENT abbr 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST abbr 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	expan CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "abbr" >


<!ELEMENT sic 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)* >


<!ATTLIST sic 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	corr CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "sic" >


<!ELEMENT corr 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)* >


<!ATTLIST corr 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	sic CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "corr" >


<!ELEMENT reg 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST reg 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	orig CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "reg" >


<!ELEMENT orig 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST orig 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reg CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "orig" >


<!ELEMENT gap 
	EMPTY >


<!ATTLIST gap 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	desc CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp IDREF #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	extent CDATA #IMPLIED
	TEIform CDATA "gap" >


<!ELEMENT add 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)* >


<!ATTLIST add 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "add" >


<!ELEMENT del 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST del 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	status CDATA "unremarkable"
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "del" >


<!ELEMENT unclear 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST unclear 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	TEIform CDATA "unclear" >


<!ELEMENT addrLine 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST addrLine 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "addrLine" >


<!ELEMENT ptr 
	EMPTY >


<!ATTLIST ptr 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType NMTOKENS #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "ptr" >


<!ELEMENT ref 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST ref 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType NMTOKENS #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #IMPLIED
	TEIform CDATA "ref" >


<!ELEMENT item 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor | ident | eg | gi | code | kw)* >


<!ATTLIST item 
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	n CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT label 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor | ident | gi | code | kw)* >


<!ATTLIST label 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "label" >


<!ELEMENT head 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST head 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT note 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | l | lg | p | sp | index | interp | interpGrp 
	| lb | ident | milestone | pb | kw | gap | anchor)* >


<!ATTLIST note 
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	n CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT index 
	EMPTY >


<!ATTLIST index 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	index CDATA #IMPLIED
	level1 CDATA #REQUIRED
	level2 CDATA #IMPLIED
	level3 CDATA #IMPLIED
	level4 CDATA #IMPLIED
	TEIform CDATA "index" >


<!ELEMENT divGen 
	EMPTY >


<!ATTLIST divGen 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "divGen" >


<!ELEMENT milestone 
	EMPTY >


<!ATTLIST milestone 
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	n CDATA #IMPLIED
	unit CDATA #REQUIRED
	TEIform CDATA "milestone" >


<!ELEMENT pb 
	EMPTY >


<!ATTLIST pb 
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	n CDATA #IMPLIED
	TEIform CDATA "pb" >


<!ELEMENT lb 
	EMPTY >


<!ATTLIST lb 
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	n CDATA #IMPLIED
	TEIform CDATA "lb" >


<!ELEMENT author 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST author 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT editor 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST editor 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "editor"
	TEIform CDATA "editor" >


<!ELEMENT resp 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST resp 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "resp" >


<!ELEMENT title 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST title 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT publisher 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST publisher 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publisher" >


<!ELEMENT biblScope 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST biblScope 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "biblScope" >


<!ELEMENT pubPlace 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST pubPlace 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "pubPlace" >


<!ELEMENT l 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST l 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	enjamb CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "l" >


<!ELEMENT trailer 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST trailer 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "trailer" >


<!ELEMENT epigraph 
	((bibl | biblFull | l | lg | p | sp | cit | q | label | 
	list | listBibl | note | stage), (index | interp | interpGrp 
	| lb | milestone | pb | gap | anchor)*)* >


<!ATTLIST epigraph 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "epigraph" >


<!ELEMENT salute 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST salute 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "salute" >


<!ELEMENT signed 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST signed 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "signed" >


<!ELEMENT titlePart 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST titlePart 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "main"
	TEIform CDATA "titlePart" >


<!ELEMENT docAuthor 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST docAuthor 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docAuthor" >


<!ELEMENT docEdition 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST docEdition 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docEdition" >


<!ELEMENT docDate 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | index | 
	interp | interpGrp | lb | milestone | pb | gap | anchor)* >


<!ATTLIST docDate 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "docDate" >


<!ELEMENT xref 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor | ident | gi | code | kw)* >


<!ATTLIST xref 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType NMTOKENS #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xref" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType NMTOKENS #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xptr" >


<!ELEMENT seg 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST seg 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	subtype CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "seg" >


<!ELEMENT anchor 
	EMPTY >


<!ATTLIST anchor 
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	id ID #REQUIRED
	TEIform CDATA "anchor" >


<!ELEMENT interp 
	EMPTY >


<!ATTLIST interp 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	resp CDATA #IMPLIED
	type CDATA #IMPLIED
	inst IDREFS #IMPLIED
	value CDATA #REQUIRED
	TEIform CDATA "interp" >


<!ELEMENT cell 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST cell 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	rows NMTOKEN "1"
	cols NMTOKEN "1"
	TEIform CDATA "cell" >


<!ELEMENT figDesc 
	(#PCDATA | abbr | address | date | name | num | rs | time 
	| add | corr | del | orig | reg | sic | unclear | emph | 
	foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | formula | bibl | biblFull 
	| cit | q | label | list | listBibl | note | figure | stage 
	| table | text | index | interp | interpGrp | lb | milestone 
	| pb | gap | anchor)* >


<!ATTLIST figDesc 
	ana IDREFS #IMPLIED
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "figDesc" >



<![IGNORE[
<!--* We need to find XML versions of these ... *-->

<!ENTITY % ISOlat1 PUBLIC "ISO 8879-1986//ENTITIES Added Latin 1//EN">
%ISOlat1; 

<!ENTITY % ISOlat2 PUBLIC "ISO 8879-1986//ENTITIES Added Latin 2//EN">
%ISOlat2; 

<!ENTITY % ISOnum  
  PUBLIC   "ISO 8879-1986//ENTITIES Numeric and Special Graphic//EN">
%ISOnum;

<!ENTITY % ISOpub  PUBLIC "ISO 8879-1986//ENTITIES Publishing//EN">
%ISOpub; 
]]>

<![IGNORE[
<!NOTATION cgm PUBLIC
  'ISO 8632:1987//NOTATION Computer Graphics Metafile//EN' >

<!NOTATION cgmchar PUBLIC
  'ISO 8632-2:1987//NOTATION CGM Character Encoding//EN' >

<!NOTATION jpeg PUBLIC
  'ISO DIS 10918//NOTATION JPEG Graphics Format//EN' >

<!NOTATION tiff PUBLIC
  '-//Aldus Corporation//NOTATION Tagged Image File Format//EN' >

<!NOTATION gif PUBLIC
  '-//Compuserve Information Service//NOTATION Graphics Interchange Format//EN' >

<!NOTATION sgml PUBLIC
  'ISO 8879:1986//NOTATION Standard Generalized Markup Language//EN' >

<!NOTATION wsd  PUBLIC
  '-//TEI P3-1994//NOTATION Writing System Declaration//EN' >

<!-- following added by LB 21 jun 99 -->
<!NOTATION SGML PUBLIC
  '//ISO 8879//Standard Generalized MarkUp Language//EN' >
]]>
<!-- end of TEI Lite DTD -->

